@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Secular+One&display=swap');

body {
  /* font-family: 'Secular One', sans-serif; */
  font-family: 'Montserrat Alternates', sans-serif;
  background-image: url('../assets/portfolio-background.png');
    background-repeat: repeat;
    background-color: #ffe8d6;
    height: auto;
}

  header {
    background-color: #cb997e;
  }

  #navbar-name {
    color: white;
    text-decoration: none;

  }

  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(158, 113, 89)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .custom-toggler .navbar-toggler {
    border-color: #9d7058;
  } 

  a {
    color:white
  }
  
  .navbar-nav {
    padding: 0;
  }
  .nav-link-active {
    text-decoration: none;
    padding: 0;
  }

  .nav-link-active:active {
    
  }
